.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.flexContainer {
  min-height: 300px;
  justify-content: space-between;
}
.notificationContainer {
  background-color: var(--blue-hover);
  border-radius: 12px;
}
