.container {
  width: 100%;
}
.container ul li {
  transition: background .3s ease-in-out;
}
.container ul li:hover {
  background-color: var(--blue-hover) !important;
}
.container ul li:nth-child(odd) {
  background-color: var(--light-gray);
}
.container h4 {
  margin: 0 !important;
}